.DS_Store
*.zip
log.txt
temp*
src/pccf/temperature_data1.csv
draw_tikz.pdf
draw_tikz2.pdf
.vim/
*.docx
arc/phd-monitor
*.dvi
*.blg
t.py
pccf.egg*
venv/
out/
*.swp
package-lock.json
node_modules
.Rhist*
.vscode
.mypy_cache/
.idea/
out/
*.pyc
__pycache__/
.ipynb_checkpoints/
*.*gz
*.aux
*.log
*.out
*.synctex.gz
test.py

tex/main.pdf
tex/main.fdb_latexmk
tex/main.fls
tex/previous.bbl

example_pccf_performance_curve_convexity.PNG
*.PNG
*.xcf
*.bbl
*.pdf
